.area {
    width: 100px;
    height: 110px;
    position: relative;
}

.point {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: black;
    position: absolute;
}

.image {
    width: 140px;
    height: 140px;
}